.button {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  text-decoration: none;
  padding: 7px;
  font-size: 14px;
  color: $white;
  border-radius: 1rem;
  border: none;

  @include anim();

  @include m("well-fed") {
      padding: 10px 16px;
  }

  @include m("full-width") {
    width: 100%;
  }
  @include m("min-width") {
    min-width: 150px;
  }
  @include m("secondary") {
    border: 2px solid $primary;
    background-color: transparent;
    text-decoration: none;
    padding: 7px;
    font-size: 14px;
    color: $primary;
    border-radius: 1rem;
  }
  &:hover {
    opacity: .75;
  }
    @include m("no-hover") {
        min-width: 150px;
        &:hover {
            opacity: 1;
        }

    }

}
