.est-reading-time {
  position: relative;
  font-size: 14px;
  color: $neutral-350;
  padding: 0.5rem;
  padding-left: 25px;

  img {
    position: absolute;
    width: 20px;
    top: 0.5rem;
    left: 0;
  }
}
