.morphing-headline {
  padding-top: 1rem;
  margin-bottom: 3rem;
  font-size: 28px;
  text-align: center;
  font-family: $fontFamilySpecial;

  span {
    background-color: $primary-150;
    display: inline-block;
    color: $neutral-400;
    padding: 3pxmargin-bottom 10px;
    min-width: 140px;
  }
}
@include breakpoint("mobile") {
  .morphing-headline {
    display: none;
  }
}
