.morphing-headline {
  padding-top: 1rem;
  margin-bottom: 3rem;
  font-size: 28px;
  text-align: center;
  font-family: $fontFamilySpecial;

  span {
    border-radius: 10px;
    background-color: $primary-150;
    display: inline-block;
    color: $neutral-400;
    padding: 1px 8px;
    min-width: 100px;
  }
}
@include breakpoint('mobile') {
  .morphing-headline {
    display: none;
  }
}
