.pill {
  font-size: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid  $neutral-300;
  color: $neutral-350; 
  height: 20px;
  padding: 0 10px;
  border-radius: 20px;
  text-decoration: none;
  @include anim();

  &:hover {
    border: 2px solid $primary;
    color: $primary;
  }
}