.pill {
  font-size: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid  $neutral-400;
  color: $neutral-400; 
  height: 20px;
  padding: 0 10px;
  border-radius: 20px;
  text-decoration: none;
  @include anim();

  &:hover {
    border: 1px solid $primary;
    color: white;
    background-color: $primary;
  }
}