.post {
  position: relative;
  
  @include e('content') {
    margin-bottom: 1rem;
  }
  @include e('back') {
    margin-bottom: 2rem;
  }
}

@include breakpoint("mobile") {
  .post {
    padding-top: 0;
  }
}
