.sidenote {
  overflow: hidden;
  margin-bottom: 1rem;

  @include e(heading) {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #f5f6fb;
    color: $neutral-400;
    border: 0;
    width: 100%;
    text-align: left;
    overflow: hidden;
    border-bottom: 2px solid $neutral-400;
  }
  @include e(content) {
    padding: 0 1rem 1.5rem;
    background-color: #f5f6fb;
    overflow: hidden;
  }

  @include e(chevron) {
    position: absolute;
    right: calc(1.4rem);
    top: calc(0.8rem);
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    svg {
      fill: $neutral-400;
      width: 30px;
      height: 30px;
    }
  }
}

@include breakpoint('mobile') {
    .sidenote {
        @include e(chevron) {
            top: -8px;
            svg {
                fill: $neutral-400;
                width: 80px;
                height: 80px;
                opacity: .2;
            }
        }
    }
}
